<div class="container" style="height: 100vh; overflow: auto;">
	
	<!-- Loading -->
	<div ng-if="!ctrl.venue" class="venue-details venue-loading">
		<div class="glyphicon glyphicon-refresh glyphicon-spin"></div>
	</div>


	<!-- Loaded -->
	<div ng-if="ctrl.venue" class="venue-details">

		<div class="jumbotron">
			<h1 ng-bind="ctrl.venue.name"></h1>
			<p ng-bind="ctrl.venue.description"></p>
		</div>
		
		<h3>Address</h3>
		<p ng-bind="ctrl.venue.location.formattedAddress.join(', ')"></p>
		
		<h3>Photos</h3>
		<div vm-super-awesome-slideshow="ctrl.venuePhotos"></div>
		
	</div>



	

</div>