<div class="container" style="height: 100vh; overflow: auto;">
	
	<div class="jumbotron">
		<h1 ng-bind="ctrl.venue.name"></h1>
		<p ng-bind="ctrl.venue.description"></p>
	</div>
	<h3>Address</h3>
	<p ng-bind="ctrl.venue.location.formattedAddress.join(', ')"></p>
	
	<h3>Photos</h3>
	
	<!-- <div vm-super-awesome-slideshow="ctrl.venue.photos.groups[0].items | FoursquarePhotosFilter"></div> -->
	<div vm-super-awesome-slideshow="ctrl.harcodedPhotosResponseItems | FoursquarePhotosFilter"></div>
	

</div>